body {
  background: #0a0a0a;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cc0000;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #ff1a1a;
}

::-webkit-scrollbar-button {
  display: none !important;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #cc0000 transparent;
}